@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-align: justify;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

.container{
    background-color: rgb(32, 48, 32);
    border: 3px solid rgb(248, 121, 16);
    /* padding: 50px; for all four sides */
    /* padding: 10px 20px 30px 40px; padding shorthand for top right bottom left */
    padding: 30px 60px;
    margin: 60px 30px;
    border-radius: 50px;
    width: auto;
}